.Productpage{
    min-height: 100vh;
}

.halfdiv{
    width: 50%;
}
.productImage{
    height: 100vh;
    /* background-color: black; */
}
.productInfo{
    /* background: red; */
    height: 100vh;
}